
<div class="container">

  <h1>購物網站後台</h1>

  <div class="row">
    <%= link_to 'New Product', new_admin_product_path %>
    <div class="col-md-12">
      <br>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Function</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td>NTD$ <%= product.price %></td>
            <td><%= link_to 'Show', admin_product_path(product) %>
                <%= link_to 'Edit', edit_admin_product_path(product) %>
                <%= link_to 'Delete', admin_product_path(product), method: :delete, data: {confirm:"Are you sure?"} %>      
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>

  </div>
</div>