
<div class="container">
  <div class="row">

    <div class="col-lg-9">
      
      <div class="row">
        <% @products.each do |product| %>
        <div class="card-columns">
          <div class="card-deck col-lg-3">  
            <div class="card product_<%= product.id %>">
            <%= link_to product_path(product) do %>
             <img class="card-img-top"><%= image_tag product.image, class: "img-thumbnail" %>
              <div class="card-block">
                <h5 class="card-title">
                  <%= product.name %>
                </h5>
            <% end %>
                <p>Price:</b>NTD$: <%= product.price %></p>
                <p class="card-text"><%= truncate product.description, length: 25 %></p>
              </div>
              <div class="card-footer">
                <%= button_to 'Add to Cart', add_to_cart_product_path(product), remote: true, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
         <% end %>
      </div>
      
    </div>
     
    <%= render "shared/cart" %>
    <!-- /.col-lg-3 -->
  </div>
  <!-- /.row -->
  <%= paginate @products %>
</div>











