
<div class="container">
  <div class="row">

    <div class="col-lg-9">
      
      <div class="row">
        <% @products.each do |product| %>
        <div class="card-columns">
          <div class="card-deck col-lg-3">  
            <div class="card">
             <img class="card-img-top"><%= image_tag product.image, class: "img-thumbnail" %>
              <div class="card-block">
                <h5 class="card-title">
                  <%= product.name %>
                </h5>
                <p>Price:</b>NTD$: <%= product.price %></p>
                <p class="card-text"><%= truncate product.description, length: 25 %></p>
              </div>
              <div class="card-footer">
                <%= button_to 'Add to Cart', add_to_cart_product_path(product), remote: true, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
         <% end %>
      </div>
      
    </div>
     
    <div class="col-lg-3">
      <h1 class="my-4">Shop Cart</h1>
        <div class="list-group">
          <% current_cart.cart_items.each do |item| %>
          <div class="cart-item product-<%= item.product.id %>">
            <%= image_tag item.product.image %>
              <div class="cart-item-info">
                  <h3><%= item.product.name %></h3>
                    $ <%= item.product.price %><br>
                  <div class="cart-item-adjust">
                    <span class="cart-<%= item.product.id %>-qty" ><%= item.quantity %></span>
                  </div>
              </div>
          </div>
          <% end %>
        </div>
        <hr>
        <div class="subtotal">
          <p>Subtotal</p>
          <p class="ammount"><%= current_cart.subtotal %></p>          
        </div>
        
    </div>
    <!-- /.col-lg-3 -->
  </div>
  <!-- /.row -->
  <%= paginate @products %>
</div>


